  
  #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 columns */
    grid-gap: 10px; /* spacing between boxes */
    max-width: 1800px;
    max-height: 1200px;
    margin: 20px auto; /* center on the page */
    padding: 30px;
    justify-items: center;
  }



  .key-note-icon {
    display: block;
    width: 180px;
    height: auto;
    position: relative;
    transform: translate(0px, 60px) scale(2.3);
    margin: 0 auto;
  }
  
  .secondary-key-notes-icon {
    position: relative;
    left: 50%;
    transform: translate( -100px, -200px) scale(2.3);
    width: 180px;
    height: auto;
    z-index: 10;
  }

/* Style for the perfume named "......." */


.parfum h1 {
  font-family: Roc Grotesk;
  font-size: 25px; 
  font-weight: 600;
  text-align: center;       /* positions text in the center of the div */
  transform: translateY(450px);
  letter-spacing: 3px;
}

.parfum p {
  text-align: center;       /* positions text in the center of the div */
  transform: translateY(425px);
}


.parfum.copper {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;

}

.parfum.zero {
  position: relative; /* necessary for absolute positioning inside */
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
  overflow: hidden; /* optional: hide anything overflowing */
}

.parfum.eau-de-parfum {
  position: relative; /* necessary for absolute positioning inside */
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
  overflow: hidden; /* optional: hide anything overflowing */
}

.parfum.blackpepper {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.cdg2-man {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}


.parfum.amazingreen {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.wonderoud {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}


.parfum.rouge {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.white {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.white h1 {
  color: white;
}



.parfum.cdg2 {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}



.parfum.blue-santal {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.blue-santal .key-note-icon {
  transform: translate(9px, 80px) scale(3);
}


.parfum.monocle-scent-three-sugi {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.monocle-scent-three-sugi .key-note-icon {
  transform: translate(-10px, 30px) scale(3);
}

.parfum.floriental {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}


.parfum.concrete {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.monocle-scent-four-yoyogi {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.wonderwood {
  
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
}

.parfum.dark-smoke {
  font-weight: bold;
  font-family: Roc Grotesk;
  width: 430px;
  height: 580px;
  
}

.parfum.bbaa {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 430px;
  height: 580px;
  
}

/* Feminine text = white */
.feminine .brand-label {
  color: white !important;
}

/* Masculine text = black */
.masculine .brand-label {
  color: black !important;
}

.casual-star {
  color: black;
  display: block;
  width: 180px;
  height: auto;
  position: relative;
  transform: translate(91px, 130px) scale(0.53);
  margin: 0 auto;
}

